.parent{
  
    display: flex;
    justify-content: space-around;
    
}
.div {
    /* box-shadow:0px 3px rgb(192, 191, 191); */
    /* height: 600px; */
    /* width: 700px; */
    /* opacity: 0.3; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #464646;
    padding: 40px;
}
.pomodoroBtns{
   /* display: flex; */
   /* flex-direction: column; */
   /* justify-content: center; */
   /* margin-left: 40px; */
   /* margin-top: 10px; */
   /* width: 600px; */
/* gap: 20px; */
font-size: 1.4rem;

   }
   .tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cfcac6;
    gap: 40px;
    border-radius: 20px;
    cursor: pointer;
    /* background-color: rgb(240, 239, 239); */
    /* height: 60px; */
   }
   .active{
    color: #ff6e4e;

   }
  .timer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .button {
    background-color: #c05132;
    /* border: 1px solid #ff6e4e; */
    border-radius: 10px;
    color: #ffffffff;
    height: 40px;
    width: 120px;
    font-size: 1.1rem;
    cursor: pointer;
    border: none;
}
.listStyle{
  list-style: none;
  font-size: 1.2rem;
  color: #cfcac6;
}
.listStyle li{
  padding: 5px;
  cursor: pointer;
}
.listStyle .activeList{
  background-color: #c05132;

}